<%layout('layout/page.ejs')%>
<!--Подключаем файл разметки page.ejs -->
      <h1><%= title %></h1>
<!--Картинка на странице -->
    <img src = "<%=picture %>" alt="" height="400">
     <!-- href или src -->
    <p><%= text %></p>
    <!-- Описание,текст и т.д. используеться в index.js для передачи информации после картинки -->
